{{define "footer"}}
<div class="footer" style="padding:13px 20px 13px 20px;">
    <div class="pull-right">
        Powered by <a href="https://qolty.com/about/" target="_blank">Qolty</a> and <a href="http://dhealth.usc.edu/" target="_blank">USC Digital Health</a>
    </div>
    <div>
        <a style="text-decoration:none;" href="https://news.northwestern.edu/stories/2016/10/northwestern-leads-consortium-to-integrate-patient-reported-outcomes-into-electronic-health-records/" target="_blank">Funded by the National Institutes of Health - U01 TR001806</a>
    </div>
</div>
{{end}}