{{define "waiting_area"}}
<!DOCTYPE html>
<html>

<head>

    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@qoltyscience">
    <meta name="twitter:creator" content="@qoltyscience">
    <meta name="twitter:title" content="Understand your patients whenever, wherever, however.">
    <meta name="twitter:description" content="Digital Health Research Tools">

    <title>EASI-PRO</title>
    <meta name="description" content="Understand your patients whenever, wherever, however.">
    <meta name="keywords" content="qolty, science, digital research tools, research, tool, clinical, health, healthcare, technology, app, mobile apps, customizable">

    <meta property="og:title" content="Qolty">
    <meta property="og:site_name" content="Qolty">
    <meta property="og:type" content="website">
    <meta property="og:description" content="Understand your patients whenever, wherever, however.">
    <meta property="og:image" content="https://qolty-mazeengillc.netdna-ssl.com/wp-content/uploads/2017/04/cover-push-notifications.png?x47743">

    <link rel="icon" type="image/png" sizes="32x32" href="https://qolty-mazeengillc.netdna-ssl.com/wp-content/uploads/2017/04/logo-and-cover-03-1.png?x47743">

    <link href="https://s3-us-west-2.amazonaws.com/qolty/demo/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://s3-us-west-2.amazonaws.com/qolty/demo/css/animate.css" rel="stylesheet">
    <link href="https://s3-us-west-2.amazonaws.com/qolty/demo/css/style.css" rel="stylesheet">
    <link href="https://s3-us-west-2.amazonaws.com/qolty/demo/css/easipro.css" rel="stylesheet">
    <link href="https://s3-us-west-2.amazonaws.com/qolty/demo/css/plugins/sweetalert/sweetalert.css" rel="stylesheet">


    <script src="https://use.fontawesome.com/6f9302e855.js"></script>

</head>

<body>

    <div id="wrapper">
    {{template "sidenav" .}}

    <div id="page-wrapper" class="gray-bg">

    {{template "topnav" .}}

    <div class="wrapper wrapper-content" style="padding-bottom:40px">
        <div class="row">
            <div class="col-lg-7">

                Workflow 1: Staff facilitates pre-visit administration on clinic's device<br><br>

                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Retrieve List of Patients</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content" id="patients">

                        <div id="codeForm">
                            <input style="width:250px" id="userInput" placeholder="Enter staff user id"><br><br>
                            <input style="width:250px" id="codeInput" placeholder="Enter code: *demo code: 123456"><br><br><button class="btn btn-primary" style="float:left" id="codeSubmit">Submit</button><br style="clear:none"><br>
                        </div>

                        <table class="table" hidden>
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Link</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>

                    </div>
                </div>

                Note: Authentication Options TBD: OAuth2, Shibboleth, AD, table-based authentication

            </div>

            <div class="col-lg-5">

                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Commentary</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">

                        Step 1: Staff must enter code to access patient list<br><br>
                        Step 2: Patient list is generated from query to FHIR server<br><br>
                        <!-- HTML generated using hilite.me --><div style="background: #ffffff; overflow:auto;width:auto;border:solid gray;border-width:.1em .1em .1em .8em;padding:.2em .6em;"><pre style="margin: 0; line-height: 125%">$.ajax({
    url<span style="color: #333333">:</span> <span style="background-color: #fff0f0">&quot;http://easi-pro.org:3001/Patient&quot;</span>, <span style="color: #888888">// live FHIR server</span>
    type<span style="color: #333333">:</span> <span style="background-color: #fff0f0">&quot;GET&quot;</span>,
    success<span style="color: #333333">:</span> <span style="color: #008800; font-weight: bold">function</span>(data){
        <span style="color: #008800; font-weight: bold">for</span> (<span style="color: #008800; font-weight: bold">var</span> i <span style="color: #333333">=</span> <span style="color: #0000DD; font-weight: bold">0</span>; i <span style="color: #333333">&lt;</span> data.entry.length; i<span style="color: #333333">++</span>){
            console.log(data.entry[i]);
        }
    }
});
</pre></div><br><br>
                    Step 3: Click to administer survey to patient

                    </div>
                </div>
            </div>
        </div>
    </div>

    {{template "footer" .}}

    <!-- Mainly scripts -->
    <script src="https://s3-us-west-2.amazonaws.com/qolty/demo/js/jquery-3.1.1.min.js"></script>
    <script src="https://s3-us-west-2.amazonaws.com/qolty/demo/js/bootstrap.min.js"></script>
    <script src="https://s3-us-west-2.amazonaws.com/qolty/demo/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="https://s3-us-west-2.amazonaws.com/qolty/demo/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="https://s3-us-west-2.amazonaws.com/qolty/demo/js/plugins/sweetalert/sweetalert.min.js"></script>


    <!-- Custom and plugin javascript -->
    <script src="https://s3-us-west-2.amazonaws.com/qolty/demo/js/inspinia.js"></script>

    <script>
        $(".moduleButton").click(function(e){
            $(this).toggleClass("active");
            $(this).blur();

            if (!$(this).hasClass("active")){
                $(this).css("background-color", "white");
                $(this).css("color", "#23c6c8");
            } else {
                $(this).css("background-color", "#23c6c8");
                $(this).css("color", "white");
            }
        });

        $(".moduleButton").mouseenter(function(e){
            if (!$(this).hasClass("active")){
                $(this).css("background-color", "#23c6c8");
                $(this).css("color", "white");
            } 
        });

        $(".moduleButton").mouseleave(function(e){
            if (!$(this).hasClass("active")){
                $(this).css("background-color", "white");
                $(this).css("color", "#23c6c8");
            } else {
                $(this).css("background-color", "#23c6c8");
                $(this).css("color", "white");
            }
        });

        $(".moduleButton").each(function(){
            if (window.localStorage.getItem("subjective-" + $(this).attr("moduleName")) == "true"){
                $(this).addClass("active");
            }
        });

        $(".moduleButton").click(function(){
          window.localStorage.setItem('subjective-' + $(this).attr("moduleName"), $(this).hasClass("active"));
        });

        $(document).on("click", ".patient", function(e){
            e.preventDefault();
            var url = $(this).attr("href");
            var name = $(this).parents("tr").find("td").first().html();
            swal({
                title: "Instructions",
                text: "Thank you, Daniella. Please pass the device to " + name + " so he can verify his identiy and complete the PROMIS Instrument."
            }, function () {
                window.location.href = url;
            });
        });

        $("#codeSubmit").click(function(){
            if ($("#codeInput").val() == "123456"){
                $("#codeForm").attr("hidden", "hidden");
                $("#patients table").removeAttr("hidden");
                $.ajax({
                    url: "http://easi-pro.org:3001/Patient", 
                    type: "GET",
                    success: function(data){
                        for (var i = 0; i < data.entry.length; i++){
                            $("#patients tbody").append(
                                `<tr>
                                    <td>` + data.entry[i].resource.name[0].given[0] + " " + data.entry[i].resource.name[0].family[0].replace(/\d+/g, '') + `</td>
                                    <td>
                                        <a href='waitingArea/survey?patient_id=` + data.entry[i].resource.id + `' patient-id='` + data.entry[i].resource.id + `' class='patient'>Administer</a>
                                    </td>
                                </tr>`
                            );
                        }
                    }
                });
            }
        });

        $("#navText").html("<b>Welcome, Daniella! Please select a patient from today's schedule.</b>");

        var idleSeconds = 30;

        $(function(){
          var idleTimer;
          function resetTimer(){
            clearTimeout(idleTimer);
            idleTimer = setTimeout(whenUserIdle,idleSeconds*1000);
          }
          $(document.body).bind('mousemove keydown click',resetTimer); //space separated events list that we want to monitor
          resetTimer(); // Start the timer when the page loads
        });

        function whenUserIdle(){
          window.location.href = "/waitingArea";
        }
    </script>

</body>
</html>
{{end}}